@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');



.contain{
    position: relative;
    width: 460px;
    height: 640px;
    border-radius: 12px;
    padding: 20px 30px 120px;
    background: #303f9f;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.login-section{
    position: absolute;
    left: 50%;
    bottom: -88%;
    transform: translateX(-50%);
    width: calc(100% + 180px);
    padding: 20px 140px;
    background: #fff;
    border-radius: 290px;
    height: 100%;
    transition: all 0.6s ease;
}

.login-section .textHeader,
.signup-section .textHeader{
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.login-section .textHeader{
    color: #333;
    opacity: 0.6;
}

.social-buttons{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
}



.separator{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.separator .line{
    width: 100%;
    height: 1px;
    background: #ccc;
}

.separator .separatorP{
    color: #fff;
}

.login-section .separator .separatorP{
    color: #000;
}

.contain .loginFrom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.loginFrom .Input{
    outline: none;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    border-radius: 8px;
    background: #fff;
}

.login-section .Input{
    border: 1px solid #aaa;
}

.loginFrom a{
    color: #333;
}

.signup-section .loginFrom a{
    color: #fff;
}

.loginFrom .btn{
    margin-top: 15px;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.login-section .btn{
    background: #303f9f;
    color: #fff;
    border: none;
}

.contain.active .login-section{
    bottom: -12%;
    border-radius: 220px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.contain.active .login-section .textHeader{
    opacity: 1;
}

.contain.active .signup-section .textHeader{
    opacity: 0.6;
}

@media screen and (max-width: 992px) {
    .contain{
        width: 360px;
    }
  }

  